@import "../spotify-colors";

//função que define o comportamento da flexbox

@mixin flexBox($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}

#sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  overflow: hidden;
  grid-column: 1/2;

  > * {
    background-color: $spotify-cinza;
    border-radius: 8px;
  }
}

#sidebar_top {
  padding: 0.5rem 0.35rem;

  li {
    //provisório até definir o main e controle de estado da página

    &:first-child a {
      color: $spotify-branco;
    }

    //--------------//

    a {
      @include flexBox(start, center);

      font-size: 0.85rem;
      font-weight: 600;

      color: darken($color: $spotify-branco, $amount: 15);

      gap: 1rem;
      padding: 0.5rem;
      border-radius: 8px;

      &:hover {
        background-color: lighten($color: $spotify-cinza, $amount: 10);
      }
    }
  }
}