@import '../../spotify-colors';

@mixin flexBox($just, $align){
    display: flex;
    justify-content: $just;
    align-items: $align;
}

#main_content_header{
    @include flexBox(space-between, center);
    width: 100%;
    padding: 0.5rem 1rem;
    position: absolute;
    
    z-index: 1;

    #page_control{
        @include flexBox(none, center);
        gap: 1rem;
        button{
            @include flexBox(center, center);
            background-color: $spotify-preto;
            border-radius: 9999px;
            height: 2rem;
            width: 2rem;
        }
    }
    #header_menu_options{
        @include flexBox(none, center);
        gap: 1.5rem;

        #premium, #install_app{
            height: 2rem;
            padding: 0 1rem;
            border-radius: 9999px;
            font-weight: 700;
        }

        #premium{
            background-color: $spotify-branco;
            color: $spotify-preto;
        }

        #install_app{
            @include flexBox(center, center);
            gap: .5rem;
            background-color: $spotify-preto;
            color: $spotify-branco;
        }

        #notifications{
            background-color: $spotify-preto;
            border-radius: 9999px;
            height: 2rem;
            width: 2rem;
        }

        #profile{
            background-color: $spotify-preto;
            border-radius: 9999px;
            height: 2rem;
            width: 2rem;
        }
    }
}