@import "../../spotify-colors";

@mixin flexBox($just, $align) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}
#sidebar_bottom {
  @include flexBox(space-between, center);
  flex-direction: column;
  height: 100%;
  position: relative;
  overflow: hidden;

  #library {
    --dynamicDisplay: flex;
    @include flexBox(start, center);
    flex-direction: column;
    flex: 1;
    width: 100%;

    
    overflow: auto;
  }
}
