@import "../../../spotify-colors";

#libraryTableHead {
  --libraryTableHeadDisplay: none;
  display: var(--libraryTableHeadDisplay);
  justify-content: start;
  
  width: 100%;
  
  font-size: 0.75rem;
  font-weight: 700;

  >span{
    display: inline-block;
    width: 25rem;
  }

  span {
    color: darken($color: $spotify-branco, $amount: 20);
    text-wrap: nowrap;
    text-align: start;
  }
  
  hgroup {
    display: flex;
    justify-content: space-between;
    width: 15rem;
  }
}
