@import "./components/spotify-colors";

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  
  text-decoration: none;
  font-family: "Figtree",sans-serif;
  color: $spotify-branco;

  scrollbar-color: lighten($color: $spotify-cinza, $amount: 25) $spotify-cinza;

  button{
    border: none;
    background: none;
    cursor: pointer;
  }
}

#root {
  --actualSidebarWidth: 350px;
  display: grid;
  grid-template-columns: var(--actualSidebarWidth) 12.5px 1fr;
  grid-template-rows: 1fr 8%;
  row-gap: 6px;
  
  height: 100vh;
  width: 100vw;
  padding: 6px;

  color: $spotify-branco;
  background-color: $spotify-preto;
}
