@import "./components/spotify-colors";

@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Figtree",sans-serif;

  button{
    border: none;
    background: none;
    cursor: pointer;
  }
}

#root {
  
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 8%;
  gap: 6px;
  
  height: 100vh;
  width: 100vw;
  padding: 6px;

  color: $spotify-branco;
  background-color: $spotify-preto;
  
}
